
.subtitle,
.text {
    line-height: 147.4%;
}

.item {
    border: 1px solid #E2E8F0;
    background: rgba(170, 170, 170, 0.00);
    padding: var(--spacing-medium);
}

.item[open] > .subtitle::before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.subtitle,
.text {
    font-size: var(--font-size-small);
}

.subtitle {
    position: relative;
    color: #1C1C1E;
    font-weight: 500;
}

.subtitle::before {
    position: absolute;
    content: '';
    right: 32px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid  #33363F;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.subtitle:hover {
    cursor: pointer;
}

.text {
    color: var(--color-brown);
    font-weight: 400;
    margin-top: 58.9px;
}

@media (max-width: 650px) {
    .subtitle {
        margin-right: 20px;
    }
    .text {
        margin-top: 20px;
    }
    .subtitle::before {
        right: -20px;
    }
}
