.container {
    display: flex;
    justify-content: space-between;
}

.container + .container {
    margin-top: 40.8px;
}

.block {
    border-radius: var(--border-radius-big);
    background: #EAECEE;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: var(--spacing-medium);
    width: 31.7%;
}

.green {
    background: rgba(136, 179, 184, 0.60);
}

@media (max-width: 800px) {
    .title {
        height: 80px;
    }
    .text {
        font-size: var(--font-size-big);
        margin-top: var(--spacing-small);
    }
}

@media (max-width: 620px) {
    .container {
        display: block;
        text-align: center;
    }
    .block {
        margin: auto;
        width: 75%;
        padding: var(--spacing-small);
    }
    .block + .block {
        margin-top: var(--spacing-small);
    }
    .container + .container {
        margin-top: var(--spacing-small);
    }
}