.wrapper {
    margin-bottom: 96px;
    border-radius: 28px;
    background: var(--color-white);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: var(--spacing-medium);
}

.container {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--color-black);
    font-size: var(--font-size-big);
    font-weight: 700;
    line-height: 100%;
    margin-bottom: var(--spacing-medium);
}

.steps {
    color: var(--color-black);
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 100%;
}

.range {
    border-radius: 10px;
    border: 1px solid var(--color-purple);
    background: rgba(255, 255, 255, 0.00);
    padding: 24px 24px 42px 24px ;
}

.column {
    border-left: 1px dotted rgba(128, 128, 128, 0.40);
    padding-left: 42px;
    margin-left: 40px;
}

.text {
    color: var(--color-black);
    font-size: var(--font-size-medium);
    font-weight: 700;
    line-height: 100%;
    margin-bottom: var(--spacing-small);
}

.number {
    color: var(--color-black);
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 100%; 
    border-bottom: 1px solid rgba(128, 128, 128, 0.20);
    padding-right: 220px;
    padding-bottom: 10px;
}

.inputs {
    margin-top: 26px;
}

.subtitle {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; 
    margin-top: var(--spacing-medium);
    margin-bottom: 24px;
}

.list {
    display: flex;
    justify-content: space-between;
}
.list + .list {
    margin-top: 58px;
}

.item {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 24px;
    margin-right: var(--spacing-small);
}

@media (max-width: 1250px) {
    .amount {
        width: 50%;
    }
}
@media (max-width: 1020px) {
    .number {
        padding-right: 50%;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: var(--font-size-medium);
    }
    .container {
        display: block;
    }
    .amount {
        width: 80%;
    }
    .column {
        border-left: none;
        padding-left: 0;
        margin-left: 10px;
        margin-top: 20px;
    }
    .number {
        border-bottom: none;
    }
}

@media (max-width: 800px) {
    .list {
        display: block;
    }
    .item {
        width: 70%;
    }
    .list + .list,
    .item + .item {
        margin-top: 8px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 96%;
    }
    .header {
        display: block;
    }
    .title,
    .steps {
        margin-bottom: var(--spacing-small);
    }
    .amount {
        width: 95%;
    }
}