.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.item {
    border-radius: var(--border-radius-big);
    background: var(--color-white);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: var(--spacing-medium);
    border: 1px solid var(--color-white);
}

.item:hover {
    border-color:var(--color-blue);
}

.btn {
    text-align: center;
}

.width {
    width: 65%;
}

@media (max-width: 1200px) {
    .wrapper {
        flex-wrap: wrap;
    }
}