.wrapper {
    margin-top: 49px;
    margin-bottom: 96px;
}

.upper,
.lower {
    display: flex;
    justify-content: space-between;
}

.lower {
    margin-top: var(--spacing-big);
}

.small,
.big {
    border-radius: var(--border-radius-big);
    background: #EAECEE;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: var(--spacing-medium);
}

.small { 
    width: 31.2%;
}

.big { 
    width: 48.5%;
}

.small:nth-child(2),
.big:nth-child(1) {
    background: rgba(127, 146, 172, 0.70);
}

@media (max-width: 800px) {
    .small,
    .big {
        padding: var(--spacing-small);
    }
}

@media (max-width: 500px) {
    .upper,
    .lower {
        display: block;
    }
    .small,
    .big { 
        width: 75%;
    }
    .lower {
        margin-top: 0 ;
    }
    .small,
    .big { 
        margin: auto;
        margin-top: var(--spacing-small);
    }
}
