.wrapper {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 160px;
    border: 1px solid red;
    border-radius: var(--border-radius-big);
    padding: 20px;
}

.title {
    color: var(--color-black);
    font-size: var(--font-size-big);
    font-weight: 700;
    line-height: 147.4%;
    letter-spacing: 0.6px;
    margin-bottom: 16px;
}

.text {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
}

@media(max-width: 700px) {
    .title {
        font-size: var(--font-size-medium);
    }
}