.list {
    text-align: center;
    margin-bottom: 93px;
}

.item {
    color: #1C1C1E;
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 112%;
    letter-spacing: 0.32px;
}

.item + .item {
    margin-top: 14px;
}

.img {
    margin: auto;
    margin-bottom: var(--spacing-medium);
}

.block {
    display: flex;
    justify-content: center;
}

.text {
   margin-left: 12px;
}

.icon {
    margin-left: 12px;
}