.wrapper {
    margin-top: 40px;
}

.item {
    position: relative;
    display: flex;
}

.item + .item {
    margin-top: 48px;
}

.item::before {
    position: absolute;
    content: '';
    border: 1px solid #7F92AC;
    width: 80%;
    bottom: -24px;
}

.item:last-child::before {
    border: 0px;
}

@media (max-width: 1170px) {
    .item::before {
        width: 96%;
    }
}
